body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*1em = 100% = 16px*/
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

a {
  color: #11999E
}

hr {
  border-top: 15px dotted grey;
  width: 8%;
  margin-left: auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 120px;
}

.bottom-cloud {
  position: absolute;
  top: 500px;
}

.portrait {
  width: 25%;
  margin-top: 50px;
}

.profile {
  width: 50%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.poring {
  width: 25%;
  float: left;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.BUTTON_JDT {
  margin: 50px auto 50px auto;
   background: #18C9CF;
   background-image: -webkit-linear-gradient(top, #18C9CF, #31877F);
   background-image: -moz-linear-gradient(top, #18C9CF, #31877F);
   background-image: -ms-linear-gradient(top, #18C9CF, #31877F);
   background-image: -o-linear-gradient(top, #18C9CF, #31877F);
   background-image: -webkit-gradient(to bottom, #18C9CF, #31877F);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 27px;
   font-weight: 300;
   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_JDT:hover {
   border: solid #337FED 1px;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   text-decoration: none;
}


.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 40px;
  margin-top: 80px;
}

.footer-link {
  font-size: 1.2rem;
  color: #11999E;
  margin: 100px 30px 100px 30px;
}

.all-rights {
  color: #EAF6F6;
  margin-top: 30px;
}
